<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{headFragment :: head('Listar fornecedor')}"></head>

<body>
	<nav th:replace="~{menuFragment :: nav()}"></nav>

	<div class="container">
		<a type="button" class="btn btn-primary mt-2" href="fornecedor/create"> Criar</a>

		<table>
			<thead>
				<th>Id</th>
				<th>Nome</th>
				<th>Endereço</th>
				<th>Telefone</th>
				<th>Delete</th>
			</thead>
			<tbody>
				<tr th:each="fornecedor : ${fornecedores}">
					<td th:text="${fornecedor.getId()}"></td>
					<td th:text="${fornecedor.getNome()}"></td>
					<td th:text="${fornecedor.getEndereco()}"></td>
					<td th:text="${fornecedor.getTelefone()}"></td>
					<td><a th:href="@{/fornecedor/delete/{fornecedorId} (fornecedorId = ${fornecedor.id})}">Deletar</a></td>
				</tr>
			</tbody>
		</table>

	</div>



</body>

</html>